@charset "UTF-8";
img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  color: #273849;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 50%;
  }
}

.inner {
  max-width: 800px;
  margin: 0 auto;
}

.field__inner {
  padding: 40px;
  background: #42b984;
  margin-top: 16px;
}

@media screen and (max-width: 480px) {
  .field__inner {
    padding: 40px 16px 32px;
  }
}

.field__read {
  text-align: center;
  padding: 40px 0 0;
  line-height: 1.6;
}

.field__read__name {
  font-size: 2.4rem;
  font-weight: bold;
  opacity: 0;
  margin: 8px 0;
}

.field__read__name.active {
  -webkit-animation: fadeInOut 1.5s ease-in 0.3s;
          animation: fadeInOut 1.5s ease-in 0.3s;
}

.card_list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.card_list button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 23.5%;
  height: auto;
  border: none;
  margin-bottom: 2%;
  border-radius: 8px;
  font-size: 3.8rem;
  color: #475050;
  background: url(../img/tranp.png) no-repeat;
  background-size: cover;
  -webkit-transform: rotateY(190deg);
          transform: rotateY(190deg);
  padding: 0;
  overflow: hidden;
}

.card_list button::after {
  display: block;
  content: "";
  padding-top: 153.4482%;
}

.card_list button div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.card_list button div.card1 {
  background: url(../img/01.png) no-repeat;
  background-size: cover;
}

.card_list button div.card2 {
  background: url(../img/02.png) no-repeat;
  background-size: cover;
}

.card_list button div.card3 {
  background: url(../img/03.png) no-repeat;
  background-size: cover;
}

.card_list button div.card4 {
  background: url(../img/04.png) no-repeat;
  background-size: cover;
}

.card_list button.active {
  background: #fff;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.card_list button.active div {
  -webkit-animation: opacityAnime ease-in-out 0.5s;
          animation: opacityAnime ease-in-out 0.5s;
  opacity: 1;
}

.card_list button.done {
  visibility: hidden;
}

.win {
  position: absolute;
  width: 500px;
  height: 500px;
  background: #273849;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 9;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.win.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.win.win1 {
  background: url(../img/01.png) no-repeat;
  background-size: cover;
}

.win.win1 h2 {
  font-size: 4rem;
  color: #fff;
  text-align: center;
  line-height: 1.2;
}

.win.win1 h2 span {
  display: block;
  font-size: 1.4rem;
  color: #fff;
}

.win.win2 {
  background: url(../img/02.png) no-repeat;
  background-size: cover;
}

.win.win2 h2 {
  font-size: 4rem;
  color: #fff;
  text-align: center;
  line-height: 1.2;
}

.win.win2 h2 span {
  display: block;
  font-size: 1.4rem;
  color: #fff;
}

.win.win3 {
  background: url(../img/03.png) no-repeat;
  background-size: cover;
}

.win.win3 h2 {
  font-size: 4rem;
  color: #fff;
  text-align: center;
  line-height: 1.2;
}

.win.win3 h2 span {
  display: block;
  font-size: 1.4rem;
  color: #fff;
}

button {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

input[type="text"]::-webkit-input-placeholder {
  color: #ccc;
}

input[type="text"]:-ms-input-placeholder {
  color: #ccc;
}

input[type="text"]::-ms-input-placeholder {
  color: #ccc;
}

input[type="text"]::placeholder {
  color: #ccc;
}

.heading__sub {
  font-size: 2.4rem;
  line-height: 1.4;
  font-weight: bold;
  letter-spacing: 0.2em;
  color: #273849;
}

a {
  color: inherit;
  text-decoration: none !important;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

a:hover {
  opacity: 0.7;
  color: inherit;
}

.lh-1 {
  line-height: 1;
}

.lh-2 {
  line-height: 2;
}

.lh-3 {
  line-height: 3;
}

.lh-4 {
  line-height: 4;
}

.lh-5 {
  line-height: 5;
}

header {
  width: 100%;
  background: #e2f5ed;
}

@media screen and (max-width: 480px) {
  header {
    padding: 8px;
  }
}

header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 480px) {
  header .inner {
    height: 40px;
  }
}

header .inner h1 {
  font-size: 3.2rem;
  font-weight: bold;
  color: #42b984;
  letter-spacing: 0.3rem;
}

header .inner h1 span {
  font-size: 1rem;
  font-weight: normal;
  margin-left: 8px;
  letter-spacing: 0;
}

@media screen and (max-width: 480px) {
  header .inner h1 span {
    display: none;
  }
}

header .inner nav a {
  font-size: 1.6rem;
  color: #42b984;
}

@media screen and (min-width: 1023px) {
  header .inner nav a:not(:last-of-type) {
    margin-right: 40px;
  }
}

@media screen and (max-width: 480px) {
  header .inner nav a {
    padding: 0 16px;
  }
}

.fv {
  height: 32vh;
  background: url("~@/assets/img/01.jpg") center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fv__heading {
  color: #fff;
  font-size: 4.8rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.2em;
}

.fv__heading span {
  margin-top: 8px;
  display: block;
  font-size: 1rem;
  letter-spacing: 0.03em;
}

.news {
  margin-bottom: 40px;
}

.news__list {
  margin-top: 16px;
}

.news__list li {
  border: 1px solid #ccc;
  border-top: none;
}

.news__list li:first-of-type {
  border-top: 1px solid #ccc;
}

.news__list li a {
  display: block;
  padding: 24px;
  font-size: 1.6rem;
}

.news__list li a dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .news__list li a dl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.news__list li a dl dt {
  font-weight: normal;
}

.news__list li a dl dd {
  color: #ccc;
  font-size: 1.4rem;
}

.news__more {
  margin-top: 8px;
  padding: 0 8px;
  display: block;
  text-align: right;
  font-size: 1.4rem;
}

.contents {
  min-height: 90vh;
  padding: 64px 0;
}

@media screen and (max-width: 480px) {
  .contents {
    padding: 40px 16px;
  }
}

.contents .item_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin-top: 16px;
}

.contents .item_list::after {
  content: "";
  display: block;
  width: 32%;
}

.contents .item_list__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contents .item_list__column .item_list__tmb {
  width: 50%;
}

@media screen and (max-width: 480px) {
  .contents .item_list__column .item_list__tmb {
    width: 100%;
  }
}

.contents .item_list__column .item_list__detail {
  width: 50%;
  text-align: left;
  padding: 0 24px;
}

@media screen and (max-width: 480px) {
  .contents .item_list__column .item_list__detail {
    padding: 0 16px;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .contents .item_list__column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.contents .item_list__tmb {
  height: auto;
  position: relative;
  overflow: hidden;
}

.contents .item_list__tmb::after {
  content: "";
  display: block;
  padding-top: 61.5789%;
}

.contents .item_list__tmb img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contents .item_list__detail {
  text-align: center;
}

.contents .item_list__name {
  font-size: 1.6rem;
  margin-top: 16px;
  font-weight: bold;
}

.contents .item_list__price {
  font-size: 1.6rem;
  margin-top: 8px;
}

.contents .item_list li {
  width: 30%;
  margin-bottom: 5%;
}

@media screen and (max-width: 480px) {
  .contents .item_list li {
    width: 48%;
  }
}

.contents .item_list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
}

.contents__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer {
  background: #475050;
  color: #fff;
  text-align: center;
  padding: 16px;
  font-size: 1.2rem;
}

@-webkit-keyframes opacityAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=common.css.map */